/*
 * Berkeley Mono is commercially licensed and not redistributable, so the woff2
 * files are gitignored and supplied locally per clone (see CLAUDE.md / ARCHITECTURE
 * §8). When they're absent these @font-face rules simply fail to load and every
 * `font-family: var(--font-mono)` consumer falls through to the fallback stack —
 * no JS branching required.
 */

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url("/fonts/BerkeleyMono-Bold-Oblique.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
